
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

table,th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}

td{
    width:100px;
}

th{
    color: black;
    font-size:20px;
    text-decoration: underline;
}

td:hover{
    background-color: white;
}

th:hover{
    color: blue;
    transform: scale(1.2);
    transition: 1s;
}

button{
    background-color: chocolate;
    border-radius: 25px;
    cursor:pointer;
    color: white;
    padding: 8px;
}

button:hover{
    background-color: darkgray;
    font-style: italic;
}

button:active{
    color: black;
    transform: translateY(2px);
}

button:focus{
    background-color: goldenrod;
    /*display: none;*/
}

ul li{
    list-style: lower-roman;
    text-decoration: underline;
    font-size: 30px;
    color: blue;
}

.list-style{
    text-decoration: underline;
    color: rgb(79, 139, 218);
    font-size: larger;
}
.list-style-inner{
    
    color: rgb(0, 0, 0);
    font-size: smaller;
}

ul ul li{
    list-style: decimal;
    font-size: 15px;
    color: #000;
    text-decoration: none !important;
}

